<form [formGroup]="todoForm" (ngSubmit)="submitTodo(todoForm)">
    <table>
        <thead>
            <tr>
                <th>
                    Add todo
                </th>
                <th>
                    From here
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Title</td>
                <td><input formControlName="title" type="text"/></td>
            </tr>
            <tr>
                <td>Important?</td>
                <td><input formControlName="important" type="checkbox"/></td>
            </tr>
            <tr>
                <td>Submit</td>
                <td><button type="submit">Click</button></td>
            </tr>
        </tbody>
    </table>
    </form>